# Server port
PORT=5001

# JWT secret key
JWT_SECRET=""

# Node environment
NODE_ENV=development


# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your_bucket_name

# Postgres credentials
# POSTGRES_USER=yours
# POSTGRES_PASSWORD=yours
# POSTGRES_DB=yours
# DATABASE_URL="postgresql://postgres:your_password@your_host:5432/your_db"
# Database Configuration
POSTGRES_USER=chattychan
POSTGRES_PASSWORD=chattypass
POSTGRES_DB=chattychan_db


# Client URL
CLIENT_URL="http://localhost:5173"
